# Import statements

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.structured import *
from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='/home/ubuntu/fastai/mercari/data/'

In [3]:
!ls data

sample_submission.csv  test.tsv  train.tsv

In [4]:
train = pd.read_csv(f'{PATH}train.tsv', sep='\t')

In [5]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [6]:
test = pd.read_csv(f'{PATH}test.tsv', sep='\t')
test.head()

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."
2,2,Coach bag,1,Vintage & Collectibles/Bags and Purses/Handbag,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...
3,3,Floral Kimono,2,Women/Sweaters/Cardigan,NaN,0,-floral kimono -never worn -lightweight and pe...
4,4,Life after Death,3,Other/Books/Religion & Spirituality,NaN,1,Rediscovering life after the loss of a loved o...

# Feature creation

In [7]:
cat_vars = ['name', 'item_condition_id', 'category_name', 'brand_name', 'shipping', 'item_description']
contin_vars = []

In [8]:
dep = 'price'
test[dep] = 0
joined = train[cat_vars+[dep]].copy()
joined_test = test[cat_vars+[dep,  'test_id']].copy()

In [ ]:
#joined.head()

In [ ]:
#DataFrameSummary(joined).summary()

In [ ]:
#joined_test.head()

In [9]:
for v in cat_vars: joined[v] = joined[v].astype('category').cat.as_ordered()

In [10]:
apply_cats(joined_test, joined)

In [11]:
for v in contin_vars:
    joined[v] = joined[v].astype('float32')
    joined_test[v] = joined_test[v].astype('float32')

In [12]:
joined['item_condition_id'] = joined.item_condition_id.astype(np.int32)
joined['shipping'] = joined.shipping.astype(np.int32)
joined_test['item_condition_id'] = joined_test.item_condition_id.astype(np.int32)
joined_test['shipping'] = joined_test.shipping.astype(np.int32)

In [13]:
n = len(joined)
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("name")
samp_size = len(joined_samp); samp_size

150000

In [20]:
??get_cv_idxs

In [14]:
samp_size = n
joined_samp = joined.set_index("name")

In [15]:
joined_samp.head()

,item_condition_id,category_name,brand_name,shipping,item_description,price
name,,,,,,
MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,1,No description yet,10.0
Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,0,This keyboard is in great condition and works ...,52.0
AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,1,Adorable top with a hint of lace and a key hol...,10.0
Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,1,New with tags. Leather horses. Retail for [rm]...,35.0
24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,0,Complete with certificate of authenticity,44.0

In [16]:
#??proc_df

In [17]:
len(joined_samp)

1482535

In [18]:
joined_test = joined_test.set_index("name")

In [21]:
df, y, nas, mapper = proc_df(joined_samp, 'price', do_scale=True)
yl = np.log(y)

/home/ubuntu/src/anaconda3/envs/fastai/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [22]:
df_test, _, nas, mapper = proc_df(joined_test, 'price', do_scale=True, skip_flds=['test_id'],
                                  mapper=mapper, na_dict=nas)
#for n,c in joined_samp.items(): print(n), print(c)

In [23]:
train_ratio = 0.75
# train_ratio = 0.9
train_size = int(samp_size * train_ratio); train_size
val_idx = list(range(train_size, len(df)))

In [ ]:
np.unique()

In [28]:
len(val_idx)

370634

In [27]:
val_idx

[1111901,
 1111902,
 1111903,
 1111904,
 1111905,
 1111906,
 1111907,
 1111908,
 1111909,
 1111910,
 1111911,
 1111912,
 1111913,
 1111914,
 1111915,
 1111916,
 1111917,
 1111918,
 1111919,
 1111920,
 1111921,
 1111922,
 1111923,
 1111924,
 1111925,
 1111926,
 1111927,
 1111928,
 1111929,
 1111930,
 1111931,
 1111932,
 1111933,
 1111934,
 1111935,
 1111936,
 1111937,
 1111938,
 1111939,
 1111940,
 1111941,
 1111942,
 1111943,
 1111944,
 1111945,
 1111946,
 1111947,
 1111948,
 1111949,
 1111950,
 1111951,
 1111952,
 1111953,
 1111954,
 1111955,
 1111956,
 1111957,
 1111958,
 1111959,
 1111960,
 1111961,
 1111962,
 1111963,
 1111964,
 1111965,
 1111966,
 1111967,
 1111968,
 1111969,
 1111970,
 1111971,
 1111972,
 1111973,
 1111974,
 1111975,
 1111976,
 1111977,
 1111978,
 1111979,
 1111980,
 1111981,
 1111982,
 1111983,
 1111984,
 1111985,
 1111986,
 1111987,
 1111988,
 1111989,
 1111990,
 1111991,
 1111992,
 1111993,
 1111994,
 1111995,
 1111996,
 1111997,
 1111998,
 1111999,
 1112000,
 1112001,
 1112002,
 1112003,
 1112004,
 1112005,
 1112006,
 1112007,
 1112008,
 1112009,
 1112010,
 1112011,
 1112012,
 1112013,
 1112014,
 1112015,
 1112016,
 1112017,
 1112018,
 1112019,
 1112020,
 1112021,
 1112022,
 1112023,
 1112024,
 1112025,
 1112026,
 1112027,
 1112028,
 1112029,
 1112030,
 1112031,
 1112032,
 1112033,
 1112034,
 1112035,
 1112036,
 1112037,
 1112038,
 1112039,
 1112040,
 1112041,
 1112042,
 1112043,
 1112044,
 1112045,
 1112046,
 1112047,
 1112048,
 1112049,
 1112050,
 1112051,
 1112052,
 1112053,
 1112054,
 1112055,
 1112056,
 1112057,
 1112058,
 1112059,
 1112060,
 1112061,
 1112062,
 1112063,
 1112064,
 1112065,
 1112066,
 1112067,
 1112068,
 1112069,
 1112070,
 1112071,
 1112072,
 1112073,
 1112074,
 1112075,
 1112076,
 1112077,
 1112078,
 1112079,
 1112080,
 1112081,
 1112082,
 1112083,
 1112084,
 1112085,
 1112086,
 1112087,
 1112088,
 1112089,
 1112090,
 1112091,
 1112092,
 1112093,
 1112094,
 1112095,
 1112096,
 1112097,
 1112098,
 1112099,
 1112100,
 1112101,
 1112102,
 1112103,
 1112104,
 1112105,
 1112106,
 1112107,
 1112108,
 1112109,
 1112110,
 1112111,
 1112112,
 1112113,
 1112114,
 1112115,
 1112116,
 1112117,
 1112118,
 1112119,
 1112120,
 1112121,
 1112122,
 1112123,
 1112124,
 1112125,
 1112126,
 1112127,
 1112128,
 1112129,
 1112130,
 1112131,
 1112132,
 1112133,
 1112134,
 1112135,
 1112136,
 1112137,
 1112138,
 1112139,
 1112140,
 1112141,
 1112142,
 1112143,
 1112144,
 1112145,
 1112146,
 1112147,
 1112148,
 1112149,
 1112150,
 1112151,
 1112152,
 1112153,
 1112154,
 1112155,
 1112156,
 1112157,
 1112158,
 1112159,
 1112160,
 1112161,
 1112162,
 1112163,
 1112164,
 1112165,
 1112166,
 1112167,
 1112168,
 1112169,
 1112170,
 1112171,
 1112172,
 1112173,
 1112174,
 1112175,
 1112176,
 1112177,
 1112178,
 1112179,
 1112180,
 1112181,
 1112182,
 1112183,
 1112184,
 1112185,
 1112186,
 1112187,
 1112188,
 1112189,
 1112190,
 1112191,
 1112192,
 1112193,
 1112194,
 1112195,
 1112196,
 1112197,
 1112198,
 1112199,
 1112200,
 1112201,
 1112202,
 1112203,
 1112204,
 1112205,
 1112206,
 1112207,
 1112208,
 1112209,
 1112210,
 1112211,
 1112212,
 1112213,
 1112214,
 1112215,
 1112216,
 1112217,
 1112218,
 1112219,
 1112220,
 1112221,
 1112222,
 1112223,
 1112224,
 1112225,
 1112226,
 1112227,
 1112228,
 1112229,
 1112230,
 1112231,
 1112232,
 1112233,
 1112234,
 1112235,
 1112236,
 1112237,
 1112238,
 1112239,
 1112240,
 1112241,
 1112242,
 1112243,
 1112244,
 1112245,
 1112246,
 1112247,
 1112248,
 1112249,
 1112250,
 1112251,
 1112252,
 1112253,
 1112254,
 1112255,
 1112256,
 1112257,
 1112258,
 1112259,
 1112260,
 1112261,
 1112262,
 1112263,
 1112264,
 1112265,
 1112266,
 1112267,
 1112268,
 1112269,
 1112270,
 1112271,
 1112272,
 1112273,
 1112274,
 1112275,
 1112276,
 1112277,
 1112278,
 1112279,
 1112280,
 1112281,
 1112282,
 1112283,
 1112284,
 1112285,
 1112286,
 1112287,
 1112288,
 1112289,
 1112290,
 1112291,
 1112292,
 1112293,
 1112294,
 1112295,
 1112296,
 1112297,
 1112298,
 1112299,
 1112300,
 1112301,
 1112302,
 1112303,
 1112304,
 1112305,
 1112306,
 1112307,
 1112308,
 1112309,
 1112310,
 1112311,
 1112312,
 1112313,
 1112314,
 1112315,
 1112316,
 1112317,
 1112318,
 1112319,
 1112320,
 1112321,
 1112322,
 1112323,
 1112324,
 1112325,
 1112326,
 1112327,
 1112328,
 1112329,
 1112330,
 1112331,
 1112332,
 1112333,
 1112334,
 1112335,
 1112336,
 1112337,
 1112338,
 1112339,
 1112340,
 1112341,
 1112342,
 1112343,
 1112344,
 1112345,
 1112346,
 1112347,
 1112348,
 1112349,
 1112350,
 1112351,
 1112352,
 1112353,
 1112354,
 1112355,
 1112356,
 1112357,
 1112358,
 1112359,
 1112360,
 1112361,
 1112362,
 1112363,
 1112364,
 1112365,
 1112366,
 1112367,
 1112368,
 1112369,
 1112370,
 1112371,
 1112372,
 1112373,
 1112374,
 1112375,
 1112376,
 1112377,
 1112378,
 1112379,
 1112380,
 1112381,
 1112382,
 1112383,
 1112384,
 1112385,
 1112386,
 1112387,
 1112388,
 1112389,
 1112390,
 1112391,
 1112392,
 1112393,
 1112394,
 1112395,
 1112396,
 1112397,
 1112398,
 1112399,
 1112400,
 1112401,
 1112402,
 1112403,
 1112404,
 1112405,
 1112406,
 1112407,
 1112408,
 1112409,
 1112410,
 1112411,
 1112412,
 1112413,
 1112414,
 1112415,
 1112416,
 1112417,
 1112418,
 1112419,
 1112420,
 1112421,
 1112422,
 1112423,
 1112424,
 1112425,
 1112426,
 1112427,
 1112428,
 1112429,
 1112430,
 1112431,
 1112432,
 1112433,
 1112434,
 1112435,
 1112436,
 1112437,
 1112438,
 1112439,
 1112440,
 1112441,
 1112442,
 1112443,
 1112444,
 1112445,
 1112446,
 1112447,
 1112448,
 1112449,
 1112450,
 1112451,
 1112452,
 1112453,
 1112454,
 1112455,
 1112456,
 1112457,
 1112458,
 1112459,
 1112460,
 1112461,
 1112462,
 1112463,
 1112464,
 1112465,
 1112466,
 1112467,
 1112468,
 1112469,
 1112470,
 1112471,
 1112472,
 1112473,
 1112474,
 1112475,
 1112476,
 1112477,
 1112478,
 1112479,
 1112480,
 1112481,
 1112482,
 1112483,
 1112484,
 1112485,
 1112486,
 1112487,
 1112488,
 1112489,
 1112490,
 1112491,
 1112492,
 1112493,
 1112494,
 1112495,
 1112496,
 1112497,
 1112498,
 1112499,
 1112500,
 1112501,
 1112502,
 1112503,
 1112504,
 1112505,
 1112506,
 1112507,
 1112508,
 1112509,
 1112510,
 1112511,
 1112512,
 1112513,
 1112514,
 1112515,
 1112516,
 1112517,
 1112518,
 1112519,
 1112520,
 1112521,
 1112522,
 1112523,
 1112524,
 1112525,
 1112526,
 1112527,
 1112528,
 1112529,
 1112530,
 1112531,
 1112532,
 1112533,
 1112534,
 1112535,
 1112536,
 1112537,
 1112538,
 1112539,
 1112540,
 1112541,
 1112542,
 1112543,
 1112544,
 1112545,
 1112546,
 1112547,
 1112548,
 1112549,
 1112550,
 1112551,
 1112552,
 1112553,
 1112554,
 1112555,
 1112556,
 1112557,
 1112558,
 1112559,
 1112560,
 1112561,
 1112562,
 1112563,
 1112564,
 1112565,
 1112566,
 1112567,
 1112568,
 1112569,
 1112570,
 1112571,
 1112572,
 1112573,
 1112574,
 1112575,
 1112576,
 1112577,
 1112578,
 1112579,
 1112580,
 1112581,
 1112582,
 1112583,
 1112584,
 1112585,
 1112586,
 1112587,
 1112588,
 1112589,
 1112590,
 1112591,
 1112592,
 1112593,
 1112594,
 1112595,
 1112596,
 1112597,
 1112598,
 1112599,
 1112600,
 1112601,
 1112602,
 1112603,
 1112604,
 1112605,
 1112606,
 1112607,
 1112608,
 1112609,
 1112610,
 1112611,
 1112612,
 1112613,
 1112614,
 1112615,
 1112616,
 1112617,
 1112618,
 1112619,
 1112620,
 1112621,
 1112622,
 1112623,
 1112624,
 1112625,
 1112626,
 1112627,
 1112628,
 1112629,
 1112630,
 1112631,
 1112632,
 1112633,
 1112634,
 1112635,
 1112636,
 1112637,
 1112638,
 1112639,
 1112640,
 1112641,
 1112642,
 1112643,
 1112644,
 1112645,
 1112646,
 1112647,
 1112648,
 1112649,
 1112650,
 1112651,
 1112652,
 1112653,
 1112654,
 1112655,
 1112656,
 1112657,
 1112658,
 1112659,
 1112660,
 1112661,
 1112662,
 1112663,
 1112664,
 1112665,
 1112666,
 1112667,
 1112668,
 1112669,
 1112670,
 1112671,
 1112672,
 1112673,
 1112674,
 1112675,
 1112676,
 1112677,
 1112678,
 1112679,
 1112680,
 1112681,
 1112682,
 1112683,
 1112684,
 1112685,
 1112686,
 1112687,
 1112688,
 1112689,
 1112690,
 1112691,
 1112692,
 1112693,
 1112694,
 1112695,
 1112696,
 1112697,
 1112698,
 1112699,
 1112700,
 1112701,
 1112702,
 1112703,
 1112704,
 1112705,
 1112706,
 1112707,
 1112708,
 1112709,
 1112710,
 1112711,
 1112712,
 1112713,
 1112714,
 1112715,
 1112716,
 1112717,
 1112718,
 1112719,
 1112720,
 1112721,
 1112722,
 1112723,
 1112724,
 1112725,
 1112726,
 1112727,
 1112728,
 1112729,
 1112730,
 1112731,
 1112732,
 1112733,
 1112734,
 1112735,
 1112736,
 1112737,
 1112738,
 1112739,
 1112740,
 1112741,
 1112742,
 1112743,
 1112744,
 1112745,
 1112746,
 1112747,
 1112748,
 1112749,
 1112750,
 1112751,
 1112752,
 1112753,
 1112754,
 1112755,
 1112756,
 1112757,
 1112758,
 1112759,
 1112760,
 1112761,
 1112762,
 1112763,
 1112764,
 1112765,
 1112766,
 1112767,
 1112768,
 1112769,
 1112770,
 1112771,
 1112772,
 1112773,
 1112774,
 1112775,
 1112776,
 1112777,
 1112778,
 1112779,
 1112780,
 1112781,
 1112782,
 1112783,
 1112784,
 1112785,
 1112786,
 1112787,
 1112788,
 1112789,
 1112790,
 1112791,
 1112792,
 1112793,
 1112794,
 1112795,
 1112796,
 1112797,
 1112798,
 1112799,
 1112800,
 1112801,
 1112802,
 1112803,
 1112804,
 1112805,
 1112806,
 1112807,
 1112808,
 1112809,
 1112810,
 1112811,
 1112812,
 1112813,
 1112814,
 1112815,
 1112816,
 1112817,
 1112818,
 1112819,
 1112820,
 1112821,
 1112822,
 1112823,
 1112824,
 1112825,
 1112826,
 1112827,
 1112828,
 1112829,
 1112830,
 1112831,
 1112832,
 1112833,
 1112834,
 1112835,
 1112836,
 1112837,
 1112838,
 1112839,
 1112840,
 1112841,
 1112842,
 1112843,
 1112844,
 1112845,
 1112846,
 1112847,
 1112848,
 1112849,
 1112850,
 1112851,
 1112852,
 1112853,
 1112854,
 1112855,
 1112856,
 1112857,
 1112858,
 1112859,
 1112860,
 1112861,
 1112862,
 1112863,
 1112864,
 1112865,
 1112866,
 1112867,
 1112868,
 1112869,
 1112870,
 1112871,
 1112872,
 1112873,
 1112874,
 1112875,
 1112876,
 1112877,
 1112878,
 1112879,
 1112880,
 1112881,
 1112882,
 1112883,
 1112884,
 1112885,
 1112886,
 1112887,
 1112888,
 1112889,
 1112890,
 1112891,
 1112892,
 1112893,
 1112894,
 1112895,
 1112896,
 1112897,
 1112898,
 1112899,
 1112900,
 ...]

In [29]:
df.head()

,item_condition_id,category_name,brand_name,shipping,item_description
name,,,,,
MLB Cincinnati Reds T Shirt Size XL,1.209777,809,0,1.111649,806611
Razer BlackWidow Chroma Keyboard,1.209777,87,3558,-0.899564,1090879
AVA-VIV Blouse,-1.004675,1255,4181,1.111649,115290
Leather Horse Statues,-1.004675,486,0,1.111649,782306
24K GOLD plated rose,-1.004675,1182,0,-0.899564,366653

In [ ]:
len(joined)

In [26]:
df_test.head()

,item_condition_id,category_name,brand_name,shipping,item_description
name,,,,,
NaN,-1.004675,1183,0,1.111649,960367
"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",-1.004675,878,0,1.111649,66133
Coach bag,-1.004675,978,1010,1.111649,0
Floral Kimono,0.102551,1234,0,-0.899564,0
NaN,1.209777,840,0,1.111649,0

In [24]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

In [25]:
md = ColumnarModelData.from_data_frame(PATH, val_idx, df, yl, cat_flds=cat_vars, bs=128, 
                                       test_df=df_test)

KeyError: "['name'] not in index"